include ../../mixins/form.jade
.dashboard
  .form
    .form-section
      +select({title:'Contract',name:'contract',parent:'parent'})
      +select({title:'Contract',name:'contract',parent:'parent'})
    .form-section
      +select({title:'Contract',name:'contract',parent:'parent'})
      +select({title:'Contract',name:'contract',parent:'parent'})
    .form-section
      +select({title:'Contract',name:'contract',parent:'parent'})
      +select({title:'Contract',name:'contract',parent:'parent'})
    //.form-section